
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Syne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  font-family: 'Montserrat';font-size: 22px;
}
/* *
{
  max-width: 1000px;
} */
  .text-blk {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 20px;
    font-family: Syne;
    color: white;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    opacity: 0;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: black;
    /* background-color: rgb(51, 51, 51); */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 0 0 0;
  }
  
  .responsive-container-block.Container {
    max-width: 1320px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  
  .responsive-container-block.leftSide {
    width: auto;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    flex-direction: column;
    position: static;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 300px;
  }
  
  .text-blk.heading {
    font-size: 40px;
    line-height: 64px;
    font-weight: 900;
    color: #00B2EB;
    margin-top: 0px;
    margin-right: 0px;
    font-family: Syne;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  
  .text-blk.btn {
    color: rgb(0, 178, 235);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: rgba(160, 121, 0, 0.2) 0px 12px 35px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    cursor: pointer;
  }
  
  .responsive-container-block.rightSide {
    width: 675px;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    height: 700px;
    min-height: auto;
  }
  .responsive-container-block img
  {
    opacity: 0;
  }
  .number1img {
    margin-top: 56%;
    margin-right: 80%;
    margin-bottom: 27%;
    margin-left: -94px;
    height: 32%;
    width: 20%;
    position: absolute;
}
  .number2img {
    margin-top: 9%;
    margin-right: 42%;
    margin-bottom: 42%;
    margin-left: 9%;
    width: 35%;
    height: 39%;
    position: absolute;
    /* opacity: 0; */
}
  
.number3img {
    width: 13%;
    height: 21%;
    position: absolute;
    margin-top: 55%;
    margin-right: 64%;
    margin-bottom: 30%;
    margin-left: 18%;
}
  
  .number4vid {
    width: 34%;
    height: 33%;
    position: absolute;
    margin-top: 62%;
    margin-right: 27%;
    margin-bottom: 0px;
    margin-left: 39%;
  }
  
  .number5img {
    position: absolute;
    width: 13%;
    height: 21%;
    margin-top: 38%;
    margin-right: 27%;
    margin-bottom: 41%;
    margin-left: 60%;
  }
  
  .number6img {
    position: absolute;
    margin-top: -39px;
    margin-right: 3%;
    margin-bottom: 67%;
    margin-left: 70%;
    width: 35%;
    height: 33%;
}
  
  .number7img {
    position: absolute;
    width: 25%;
    margin-top: 65%;
    margin-right: 0px;
    margin-bottom: 18%;
    margin-left: 87%;
    height: 42%;
}
  
  .text-blk.subHeading {
    font-size: 14px;
    line-height: 25px;
  }
  .img1
  {
    border-top-left-radius:60px ;
  }
  /* .img6
  {
    border-bottom-left-radius: 60px;
  } */
  .img5
  {
    border-top-right-radius: 60px;
  }
  .img4
  {
    border-bottom-right-radius: 60px;
  }
  .img2
  {
    border-bottom-left-radius: 47px;
  }
  .img3
  {
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
  }
  .trBlock {
    height: 36vh;
    width: 120%;
    background-image: linear-gradient(to bottom,rgba(255,0,0,0),rgba(255,0,0,0),black,black);
    z-index: 7;
    margin-top: -35vh;
    margin-left: -40px;
}
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      flex-direction: column-reverse;
    }
  
    .text-blk.heading {
      text-align: center;
      max-width: 370px;
    }
  
    .text-blk.subHeading {
      text-align: center;
    }
  
    .responsive-container-block.leftSide {
      align-items: center;
      max-width: 480px;
    }
  
    .responsive-container-block.rightSide {
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 100px;
      margin-left: auto;
    }
  
    .responsive-container-block.rightSide {
      margin: 0 auto 70px auto;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-container-block.rightSide {
      width: 450px;
      height: 450px;
    }
  
    .responsive-container-block.leftSide {
      max-width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .number1img {
      display: none;
    }
  
    .number2img {
      display: none;
    }
  
    .number3img {
      display: none;
    }
  
    .number5img {
      display: none;
    }
  
    .number6img {
      display: none;
    }
  
    .number7img {
      display: none;
    }
  
    .responsive-container-block.rightSide {
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 100px;
      margin-left: 0px;
    }
    
    .number4vid {
      position: static;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
      width: 100%;
      height: 100%;
    }
    
    .text-blk.heading {
      font-size: 25px;
      line-height: 40px;
      max-width: 370px;
      width: auto;
    }
    
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 25px;
    }
    
    .responsive-container-block.leftSide {
      width: 100%;
    }
  }
  .moveR
  {
    transition: all 1s ease-in-out;
    animation: movR 1s ease-in-out;
    animation-delay: .4s;
    animation-fill-mode: forwards;
  }
  @keyframes movR {
    from
    {
      transform: translateX(-80%);
      opacity: 0;
      filter: blur(45px);
    }
    to
    {
      transform: translateX(0%);
      opacity: 1;
      filter: blur(0);
      
   }
   
}
.moveL
{
  transition: all 1s ease-in-out;
   animation: movL 1s ease-in-out;
   animation-fill-mode: forwards;
   animation-delay: .4s;
  }
  @keyframes movL {
    from
    {
      transform: translateX(80%);
     opacity: 0;
     filter: blur(53px);
    }
    to
    {
      transform: translateX(0%);
      opacity: 1;
      filter: blur(0);
      
    }
    
  }
  .text-blkUp
  {
    transition: all 1s ease-in-out;
     animation: text-blkUp 1s ease-in-out;
     animation-fill-mode: forwards;
     animation-delay: .4s;
  }
  @keyframes text-blkUp {
    from
      {
        opacity: 0;
        transform: translateY(40%);
        filter: blur(23px);
      }
      to
      {
        opacity: 1;
        transform: translateY(0%);
        filter: blur(0);
        
    }
  }