

.outerStudent
{
    display: flex;
    background-color: #000;
    width: 100%;
}
.gout h3
{
  color:#ef8354;
}
.gout
{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  animation: silde 1s ease-in-out;
}
.gout img
{
  height: 100px;
}