.basiccard{
    /* background-color: yellow; */
    background: url(../Images/poster2.jpg);
    background-size: cover;
    width:18vw;
    height:30vh;
    transition: 0.5s;
    margin:3%;
    /* position:sticky; */
}

.basiccard:hover{
    width:20vw;
    height:40vh;
}