.basiccard{
    background-size: cover;
    width:16vw;
    margin:0%;
    padding: 15px;
    transition: all .6s ease-in-out;
    animation: transform .5s ease-in-out;
    opacity: 0;
}
@keyframes basiccard {
    from
    {
        transform: scale(1);
        
    }
    to
    {
        transform: scale(1.4);
    }
    
}
.basiccard img
{
    width: 15vw;
    transition: all .5s ease-in-out;
    border-radius: 18px;
    padding-top: 20px;
}
.basiccard img:hover{
  transform: scale(1.2);
}
.closeup
{
    animation: closeup 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes closeup {
    0%
    {
        opacity: 0;
        transform: scale(2);
    }
    75%
    {
        opacity: .3;
        transform: scale(1);
        
    }
    100%
    {
        opacity: 1;

    }
    
}