
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.socialIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 10px;
  z-index: 10;
}

.socialIcons ul {
   position: relative;
   display: flex;
   transform: rotate(0deg) skew(0deg);
   transform-style: preserve-3d;
}
.socialIcons ul li {
  position: relative;
  list-style: none;
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}
.socialIcons ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  trnasform-origin: top;
  transform: skewX(-41deg);
}
.socialIcons ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  trnasform-origin: right;
  transform: skewY(-49deg);
}
.socialIcons ul li span{
  position: absolute;
  top: 0;
  lef: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
.socialIcons ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadw: -1px 1px 1px rgba(0, 0, 0, .5);
}
.socialIcons ul li:hover span:nth-child(5){
  transform: translate(8px, -8px);
  opacity: 1;
}
.socialIcons ul li:hover span:nth-child(4){
  transform: translate(6px, -6px);
  opacity: .8;
}
.socialIcons ul li:hover span:nth-child(3){
  transform: translate(4px, -4px);
  opacity: .6;
}
.socialIcons ul li:hover span:nth-child(2){
  transform: translate(2px, -2px);
  opacity: .4;
}
.socialIcons ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
.socialIcons ul li:nth-child(1):hover span{
  background: #52E19F !important;
}
.socialIcons ul li:nth-child(2):hover span{
  background: #2C3456 !important;
}
.socialIcons ul li:nth-child(3):hover span{
  background: #EA6E96 !important;
}
.socialIcons ul li:nth-child(4):hover span{
  background: #FCEB00 !important;
}
.socialIcons .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
  }
  
  .wrapper h3
  {
    color: white;
  }
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 70vh;
  }
  .tcards
  {
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    max-width: 1300px;
    justify-content: space-between;
  }
  .tcard {
    width: 18%;
    height: 30vh;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 10px;
  }
  .tcard:hover {
    transform: translateY(20px);
  }
  .tcard:hover:before {
    opacity: 1;
  }
  .tcard:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .tcard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .tcard img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .tcard .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  .tcard .info h8 {
    margin: 6px;
  }
  .tcard .info .p {
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .tcard .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .tcard .info button:hover {
    background: dodgerblue;
    color: white;
  }
  @media (max-width:500px){ 
    .tcard
    {
      width: 96%;
    }
    .wrapper 
    {
      height: 300px;
    }
  }