@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto:wght@400&display=swap');

.testimonial h2{
  color: white;
}
.testimonial{
    display: flex;
    font-family: 'dosis';
    color: white; 
    mix-blend-mode: difference;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1300px;
    margin-left:2px auto;
    /* margin-top: 30px; */
}

.testimonial .container .gallary h3
{
    margin-bottom: 0px;
}
.testimonial .container .gallary{
    /* height: 71vh; */
    width: 93vw;

}
.testimonial .container{
    position: relative;
    width: 100vw;
    min-width: 350px;
    min-height: 250px;
}

.testimonial .wrapper{
    width: 500%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    margin-left: 0px;
}


.testimonial .card-thumb img{
    width: 50px;
    height: 50px;
    
}
.testimonial .card-thumb{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.testimonial .card  .card-body p,.rating,.card-thumb
{
    margin: 10px 0px;
    
}
  .testimonial .card .card-body,.card-thumb {
    margin: 0px 10px;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .testimonial .card{
        position: relative;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color:  rgb(255 255 255 / 16%);
        z-index: 3;
        padding: 10px;
        width: 27vw;
        border-radius: 17px;
        margin: 10px;
    }
}
.testimonial .client-img{
    width: 21vw;
    height: 30vh;
    object-fit: cover;
}


@media  (max-width:700px) {
    .testimonial .client-img{
        width: 46vw;
    }
    .testimonial .client-img {
        height: 30vh;
        object-fit: cover;
        object-position: center;
    }
    
}
.testimonial .client-name{
    /* position: absolute; */
    bottom: 10px;
    right: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px 20px;
    /* background: #fff; */
    text-transform: capitalize;
    font-size: 18px;
}

.testimonial .star{
    width: 25px;
    margin-right: 5px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.testimonial .carousel-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    width: 100%;
  max-width: 2000px;
}

.testimonial .wrapped-container {
    display: flex;
    overflow: hidden;
    width: 95%;
    justify-content: center;
}

.testimonial .carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    display: flex;
    gap: 1em;
    scrollbar-width: none;
}
@media (max-width:500px)
{
    .testimonial .carousel-item
    {
        height: 100vh;
    }
}
/* .testimonial .carousel-item .back
{
    position: absolute;
        width: 30vw;
        height: 30vh;
        background-color: #080808;
} */
.testimonial .carousel-item
{
    
    height: 51vw;
    
}
.testimonial .arrows {
    width: 20px;
    height: 45px;
    outline: none;
    border: none;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    opacity: 100%;
    cursor: pointer;
    transition: all 0.1s ease;
  padding: 0;
  pointer-events: all;
  display: none;
}
/* 
.arrows:hover {
    background-color: #5e4c5a;
    transform: scale(1.1);
} */

.testimonial .arrows svg {
    width: 1.5em;
    height: 1.5em;
    fill: white;
}

.testimonial .arrow-inactive {
    opacity: 0.5;
    cursor: auto;
}

.testimonial .arrow-inactive:hover {
  transform: none;
}

.testimonial .carousel-item {
    width: 100%;
    height: 100%;
    /* background: white; */
}

.testimonial .carousel-item.img {
    border-radius: 10pt;
    width: 50vw;
    /* height: 80vh; */
    height: 100%;
}

.testimonial input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.testimonial label {
    color: white;
    cursor: pointer;
    width: 50px;
    height: 30px;
  background: #5e4c5a;
  display: block;
  border-radius: 100px;
  position: relative;
}

.testimonial label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.testimonial input:checked + label {
    background: #ef8354;
}

.testimonial input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.testimonial label:active:after {
    width: 20px;
}

.testimonial input:checked + label #off {
    display: none;
}

.testimonial :not(input:checked) + label #on {
    display: none;
}

.testimonial .review::-webkit-scrollbar {
    width: .8px;
  }
  .testimonial .review::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  .testimonial .review::-webkit-scrollbar-thumb {
    background-color:black;
  }
.testimonial .review {
    margin: 0;
    padding: 0;
    /* max-width: 100ch; */
    height: 20vh;
    overflow-y: hidden;
    /* display: flex; */
    align-items: center;
    /* font-size: 0.75rem; */
    user-select: none;
    padding-left: 0.5em;
    padding-right: 0.35em;
    font-weight: 600;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden; */
}
#off {
    justify-content: flex-end;
    font-size: 0.65rem;
}

#toggle-overflow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.25em;
    color: #5e4c5a;
    font-size: 0.75rem;
}

.testimonial .overflow {
    overflow-x: auto;
    scrollbar-width: thin;
}

.testimonial .carousel-wrapper.scrollbar-overflow ::-webkit-scrollbar {
    height: 6px;
}

.testimonial .carousel-wrapper ::-webkit-scrollbar {
    height: 0px;
}

.testimonial .carousel-wrapper ::-webkit-scrollbar-track {
  background: #c0b6af;
  border-radius: 10pt;
}

.testimonial .carousel-wrapper ::-webkit-scrollbar-thumb {
    background: #5e4c5a;
    border-radius: 10pt;
}

.testimonial .carousel-wrapper ::-webkit-scrollbar-thumb:hover {
    background: #2d242b;
}

@media (pointer: coarse) {
    .carousel {
        overflow-x: auto;
        scrollbar-width: thin;
    }
    .carousel-wrapper ::-webkit-scrollbar {
        height: 6px;
    }
}
.testimonial .testimonial
{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    background-color: black;
}
.testimonial .gallary
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonial .gin
{
    display: flex;
    flex-direction: column;
    /* max-width: 1300px; */
}
.testimonial .gout h3
{
    color:#ef8354;
}
.testimonial .gout
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    animation: silde 1s ease-in-out;
}
.testimonial .gout.img
{
    height: 100px;
}
.testimonial .carousel
{
    width: 100%;
}
@keyframes slide {
    from
    {
        margin-left: -100px;
    }
    to
    {
    margin-left: 0px;
}
}
@media  (max-width:700px) {
    .testimonial .review {
        height: 37vh;
    }
    .testimonial .carousel-item.img {
        width: 95vw;
    }.testimonial
    .testimonial .card {
        width: 55vw;
    }
    .testimonial .carousel-item {
        width: 100vw;
        height: 64vw;
    }
    /* .testimonial .carousel-item {
        width: 33vw;
        height: 143vw;
    } */
    
    
}
.testimonial .carousel-item
{
    /* background-color: #484848; */
    background-size: cover;
    background-position: center;
            
}
        @media  (max-width:1200px) {
            
            .testimonial .carousel-item {
                width: 65vw;
                height: 100%;
            }
            .testimonial .card {
                width: 59vw;
            }
            /* .testimonial .card::before{
                width: 61vw;
            } */
        }
        
        .testimonial .card  .card-body .rating img
        {
            background-color:transparent;
        }
@media (max-width: 800px){
    .testimonial .container{
        width: 96vw;
                margin: 2px auto;
            }
            .testimonial .carousel-item {
                width: 72vw;
                height: 100%;
            }
            .testimonial .card {
                width: 65vw;
            }
        }
.testimonial .card  .card-body .rating p
{
    color: red;
    margin-left: 6px;
    cursor: pointer;
}